

<div class="row">



<div class="nested-fields">

<div class="form-group sf col-md-4">
        
        <%= f.text_field :competetion_name , class: "form-control" %>
</div>

<div class="form-group sf col-md-3">
        
      <%= f.date_field :date_of_event , class: "form-control" %>
</div>

<div class="form-group sf col-md-4">
        
        <%= f.text_field :no_of_students_from_abroad_with_country_name , class: "form-control" %>
</div>


<div class="form-group sf col-md-1 remove-sub-form-button">
   <%= link_to_remove_association "Remove", f, class: "form-button btn btn-danger btn-md" %>
</div>



</div> 
</div>
