

<h1 class="to-underline">Best CSI International Students Event Host Awards</h1>
<h3>Total Number of Awards : <%= Bestcsiinternationalstudentseventhost.count %></h3>
<ol>
<% @bestcsiinternationalstudentseventhosts.each do |i| %>
    
    <h3><li>User :<%= link_to i.user.email , i %> | Institute : <%= i.institute.name %>
    </li></h3>
 
<% end %>    
</ol>