<% if is_csimember? %>
<h3 align="center">Best CSI International Students Event Host Award</h2>

<br>
<% if is_sbc? %>
<%= render "form" %>
<% else %>
<p class="jumbotron">Only SBC's can fill this award</p>
<p><%= link_to "Fill Other Awards", root_path %></p>
<% end %>
<% end %>