<h1>Created</h1>

<%= @bestcsiinternationalstudentseventhost.institute.imno %>
<%= @bestcsiinternationalstudentseventhost.institute.name %>
<%= @bestcsiinternationalstudentseventhost.volunteers %>
<%= @bestcsiinternationalstudentseventhost.volunteers_added %>
