
<div class="row">
<div class="nested-fields">
    

<div class="form-group sf col-md-4">
        
        <%= f.text_field :article_title , class: "form-control" %>
</div>
<div class="form-group sf col-md-3">
        
        <%= f.text_field :published_in , class: "form-control" %>
</div>
<div class="form-group sf col-md-4">
        
        <%= f.date_field :date_of_publishing , class: "form-control" %>
</div>


<div class="form-group sf col-md-1 remove-sub-form-button">
   <%= link_to_remove_association "Remove", f, class: "form-button btn btn-danger" %> 
</div>



</div> 

</div>