<div class="row">
<div class="nested-fields">
    

<div class="form-group sf col-md-3">
        
        <%= f.date_field :date_of_publication , required: true, class: "form-control"%>
</div>
<div class="form-group sf col-md-4">
       
        <%= f.text_field :title, required: true , class: "form-control"%>
</div>
<div class="form-group sf col-md-4">
       
        <%= f.text_field :remarks, required: true , class: "form-control"%>
</div>

<div class="form-group sf col-md-1 remove-sub-form-button">
   <%= link_to_remove_association "Remove", f, class: "form-button btn btn-danger" %> 
</div>

</div>
</div>