<h1 class="to-underline">Students with maximum publishing – CSI publications Awards</h1>
<h3>Total Number of Awards : <%= Studentmaxpublishing.count %></h3>
<ol>
<% @studentmaxpublishings.each do |i| %>
    
    <h3><li>User :<%= link_to i.user.email , i %> | Institute : <%= i.institute.name %>
    </li></h3>
 
<% end %>    
</ol>