<h1 align="center" id="award-banner">AWARDS</h1>

<div class="container award-area">
    
<div class="award-title">
    <h2><%= link_to "Best CSI International Students Event Host" , new_bestcsiinternationalstudentseventhost_path %> </h2>
</div>

<div class="award-title">
    <h2><%= link_to "Highest Sponsorship of CSI Event Award" , new_highestsponsorshipofcsievent_path %> </h2>
</div>

<div class="award-title">
    <h2><%= link_to "Longest Continuous SBC Award" ,new_longestcontinuoussbc_path %> </h2>
</div>

<div class="award-title">
    <h2><%= link_to "Facultu with maximum publications Award" ,new_facmaxpublishing_path %> </h2>
</div>




</div>