/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.award-area{
    font-family: "Lato";
    
}

.award-title{
    background-color: #f5f8fd;
    border: 0px solid #dbdbe8;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    text-align: left;
    
}

#award-banner{
    
    padding: 0.25em;
    font-weight: bold;
    color: rgb(80, 116, 177);
}
.submitted-details{
    font-family: Lato;
    font-size: 1.5em;
    margin: 1em;
    border: 0px solid rgba(10, 10, 10, 0.12);
    border-radius: 5px;
    padding: 0.5em;
    background-color: #f6f7ff;
}
.showpage-links{
    font-size: 1.7em;
    text-align: center;
}
.form-horizontal .form-group{
    margin-right: 15px;
}

.primary-form{
    
}

.institution-details{
    
}
.sbc-details{
    
}
.sub-form-title{
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
    letter-spacing: .1em;
}
.remove-sub-form-button{
        margin-top: 1.7em;
}