/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

#competitions{
        font-size: 11px;
    margin-left: -13px;
}
#competitions-input{
    
}
.alert_wrapper{
    
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #1d6fda;
    padding: 2.5rem 0;
    text-align: center;
    margin: 50px;
    
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px #988585
}

.sign-up{
    margin-top: 5em;
    border: 0.75em solid rgba(32, 105, 169, 0.71);
    background: rgba(212, 235, 255, 0.43);
    margin-left: 20em;
    margin-right: 20em;
    font-family: lato;
    padding: 1em;
    box-shadow: 5px 5px 5px #988585;
}

body{
  
    font-family: lato;
}

.award-area{
    font-family: "Lato";
    margin-left: 3em;  
    border: 1px solid black;
    border-radius: 8px;
    background: rgba(222, 222, 222, 0.41);
}

.award-title{
    
    font-family: "Lato";
    padding: 0.175em;
    text-align: left;
    font-size: 1.2em;
    
}
.award-title a{
    font-family: "Lato";
    color: #0a0a0a;
    padding: 0.175em;
    
    
}
.award-head{
    color: #15307d;
    font-weight: bold;
    
}

#award-banner{
    margin-top: 0px;
    padding: 1em;
    font-weight: bold;
    color: rgba(12, 12, 12, 0.69);
}
// .servie-awards{
//     margin-bottom: 15em;
// }
.accredited-subform{
    padding: 1em;
}
.form-detail{
    font-family: lato;
    font-size: 1em;
    text-align: center;
    margin-top: -12px;
    font-style: italic;
    color: #858990;
}
.submitted-details{
    font-family: "Lato";
    font-size: 1.5em;
    margin: 1em;
    border: 0px solid rgba(10, 10, 10, 0.12);
    border-radius: 5px;
    padding: 0.5em;
    background-color: #f6f7ff;
}
.proof{
    font-weight: bold;
    color: rgba(162, 18, 18, 0.77);
    font-size: 16px;
    
}
.thirdform{
        margin-top: 3em;
    }
.fifthform    {
        margin-top: 4em;
    }
.showpage-links{
    font-size: 1.7em;
    text-align: center;
}
.form-horizontal .form-group{
    margin-right: 15px;
}

.primary-form{
    
}
.primary-form-subheading{
    text-align: left;
    font-family: Lato;
    font-size: 1.5em;
    color: rgba(11, 36, 125, 0.94);
    
    
    border-bottom: 1px solid rgba(19, 19, 19, 0.2);
}

.institution-details{
    
}
.sbc-details{
    
}
.sub-form-title{
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em;
    
}
.subform-head{
    
    
    
    
}
div.form-group.sf{
    // margin-right: 15px;
    border: 1px solid rgba(19, 19, 19, 0.2);
    
    margin: 0px;
    padding: 0px;
}
.btn-danger{
    
    padding-left: 30px;
    border-radius: 0px;
}

#logo{
    width: 60px;
    height: 30px;
}
#brand-logo{
    padding-top: 10px;
}
.credits{
    background: #222222;
    text-align: center;
    position: absolute;
    color: #8d9d9d;
    bottom: 0;
   
   .left{
       padding-left: 1em;
   }
   .right{
    padding-left: 16em;
    padding-right: 1em;
   }
}