 
<h1 class="to-underline">Best Regional Chapter Awards</h1>
<h3>Total Number of Awards : <%= Regionalchapteraward.count %></h3>
<ol>
<% @regionalchapterawards.each do |i| %>
    
    <h3><li>User :<%= link_to i.user.email , i %> | Chapter Name : <%= i.chapter %> 
    
    </li></h3>
 
<% end %>    
</ol>